- cache Rails.configuration.x.git.commit_version do
  .mt-20.space-y-24
    - features.each do |group|
      %div
        .lg:grid.lg:grid-cols-3.lg:gap-x-8
          %div
            %h2.text-base.font-semibold.tracking-wide.uppercase.text-primary
              = group['slogan']
            %p.mt-2.text-3xl.font-extrabold.text-gray-900
              = group['name']

          .mt-12.lg:col-span-2.lg:mt-0
            %dl.space-y-10.sm:grid.sm:grid-cols-2.sm:gap-x-6.lg:gap-x-8.sm:gap-y-10.sm:space-y-0
              - group['items'].each do |feature|
                .relative
                  %dt
                    = helpers.heroicon 'check',options: { class: 'absolute w-6 h-6 text-accent', 'aria-hidden' => 'true' }
                    %p.flex.items-center.text-lg.font-medium.leading-6.ml-9.text-primary
                      = link_to feature['name'], feature['href'], class: 'hover:underline', target: '_blank', rel: 'noopener noreferrer'
                      - if version(feature)
                        = tag.span version(feature), class: 'inline-flex items-center py-0.5 px-2.5 ml-2 text-xs font-medium text-black bg-tertiary rounded-full'

                  %dd.mt-2.text-base.text-gray-600.ml-9
                    = feature['description']
                    - if feature['gem'] == 'sidekiq'
                      %p.mt-2.text-xs
                        →
                        = link_to 'Admin frontend', sidekiq_web_path,class: 'font-medium uppercase hover:underline',data: { turbo: false }
