<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Templatus</title>

    <meta name="description" content="Ruby on Rails template for using Vue.js 3">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Templatus">
    <meta name="theme-color" content="#991c1c">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Templatus">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="git-commit-version" content="<%= Rails.configuration.x.git.commit_version %>">
    <meta name="git-commit-time" content="<%= Rails.configuration.x.git.commit_time %>">

    <meta name="honeybadger-api-key" content="<%= Rails.configuration.x.honeybadger.api_key %>">

    <% if Rails.configuration.asset_host.present? %>
    <meta name="asset-host" content="<%= request.protocol %><%= Rails.configuration.asset_host %>">
    <% end %>

    <% cache Rails.configuration.x.git.commit_version do %>
      <% versions.each do |name, version| %>
        <%= tag.meta name: "version-#{name}", content: version %>
      <% end %>
    <% end %>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= tag :link, href: asset_path('/apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180' %>
    <%= tag :link, href: asset_path('/favicon-32x32.png'),    rel: 'icon',             type: 'image/png', sizes: '32x32' %>
    <%= tag :link, href: asset_path('/favicon-16x16.png'),    rel: 'icon',             type: 'image/png', sizes: '16x16' %>
    <%= tag :link, href: webmanifest_path, rel: 'manifest' %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', integrity: true, crossorigin: 'anonymous', defer: true %>
  </head>

  <body>
    <noscript>
      <p>This website doesn't work without JavaScript enabled. Please enable it to continue.</p>
    </noscript>

    <%= yield %>
  </body>
</html>
